@media screen and (min-width: 1024px) {
    .btn-container {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 1024px) {
    .btn-container {
        justify-content: left;
    }
}

@media screen and (min-width: 1024px) {
    .btn {
        display: unset;
        
        }
}

@media screen and (min-width: 1024px) {
    .btn::before {
        content: "";
        position: absolute;
        opacity: 0.9;
        top: 0px;
        bottom: -4px;
        left: -4px;
        right: 0px;
        border-radius: 25px;
        border: 2px solid var(--c-red);
        background-color: var(--c-peach);
        box-shadow: 4px -4px 10px 1px rgba(235, 101, 63, 0.7) inset;
        z-index: -1;
        transition: all 0.2s ease-in-out;
    }
}

.btn {
    background: var(--c-red);
    border-radius: 25px;
    padding: 1rem 3rem;
    display: inline-block;
    position: relative;
    left: 0px;
    right: 0px;
    bottom: 0px;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    background: var(--c-accent);
    cursor: pointer;
    left: -4px;
    right: 4px;
    bottom: -4px;
}

@media screen and (min-width: 1024px) {
    .btn {
        padding: 1rem 2rem;
    }
}

.btn:hover::before {
    left: 1px;
    right: 1px;
    bottom: 2px;
}

.scroll-text {
        /* animation properties */
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        
        -moz-animation: my-animation 15s linear infinite;
        -webkit-animation: my-animation 15s linear infinite;
        animation: my-animation 15s linear infinite;
}
/* for Firefox */
      @-moz-keyframes my-animation {
        from { -moz-transform: translateX(100%); }
        to { -moz-transform: translateX(-100%); }
      }
      
      /* for Chrome */
      @-webkit-keyframes my-animation {
        from { -webkit-transform: translateX(100%); }
        to { -webkit-transform: translateX(-100%); }
      }
      
      @keyframes my-animation {
        from {
          -moz-transform: translateX(100%);
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
        }
        to {
          -moz-transform: translateX(-100%);
          -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
        }
    }
