/* #page.home {} */

.home_hero {
}


@media (min-width: 1024px) {
    .home_hero {
        position: relative;
    }
}

.home_hero figure {
    display: none;
    opacity: .9;
}

@media (min-width: 1024px) {
    .home_hero figure {
        display: block;
        width: 50%;
        margin-left: auto;
        padding: var(--gutter);
        padding-left: 0;
    }
}

.home_hero img {
    width: 100%;
}

.home_hero .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    inset: 0;
    padding-left: var(--gutter);
    transition: all .2s ease-in-out;
}

.home_hero .content > * {
    padding-bottom: var(--gutter);
}

.home_hero .open {
    background: -webkit-linear-gradient(var(--c-peach), var(--c-red));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home_hero h1 {
    font-size: var(--fs-xl);
}

@media (min-width: 1024px) {
    .home_hero h1 {
        font-size: var(--fs-2xl);
        line-height: 1.1;
    }
    
}

.home_hero p {
    font-size: var(--fs-l);
    max-width: 38ch;
    line-height: 2rem;
    letter-spacing: 2px;
}

.home_hero .links {
}

.home_hero .links li {
    display: inline-block;
}

.home_hero .links a {
    display: inline-block;
    padding-right: var(--gutter);
}

.home_hero .links svg {
    width: 3rem;
}
