/* #page.home {} */

.home_hero {
    background-image: linear-gradient(deg, #14534d 0%, #106b62 100%);
    padding: var(--rhythm) var(--gutter) ;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    /* grid-template-areas:
        "content content content content content content figure figure figure figure figure ."
        "content content content content content content figure figure figure figure figure ."
        "content content content content content content figure figure figure figure figure ."
        "content content content content content content figure figure figure figure figure ."
        "content content content content content content figure figure figure figure figure ."
        "content content content content content content figure figure figure figure figure ."; */
}

.home_hero figure {
    grid-area: figure;
    width: 60%;
    margin-left: auto;
    grid-column: 6 / 12;
    grid-row: 1/6;
}

.home_hero img {
}

.home_hero .content {
    grid-area: content;
    grid-column: 1 / 9;
    grid-row: 1/6;
}

@media (min-width: 1024px) {
    .home_hero .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.home_hero .open {
    background: -webkit-linear-gradient(var(--c-peach), var(--c-red));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: underline;
}

.home_hero h1 {
    font-size: var(--fs-xl);
}

@media (min-width: 1024px) {
    .home_hero h1 {
        font-size: var(--fs-2xl);
        line-height: 1.1;
        padding-bottom: var(--gutter);
    }
}

.home_hero p {
    font-size: var(--fs-m);
    max-width: 38ch;
    line-height: 2rem;
    letter-spacing: 2px;
    padding-bottom: var(--gutter);
}

.home_hero .links li {
    display: inline-block;
    padding-bottom: var(--gutter);
}

.home_hero .links a {
    display: inline-block;
    padding-right: var(--gutter);
}

.home_hero .links svg {
    width: 2rem;
}

.home_hero .cv svg {
    width: 1rem;
    display: inline-block;
    margin-left: var(--gutter);
    position: relative;
    bottom: -2px;
}

.home_about .arrow-desktop {
    display: none;
}

@media screen and (min-width: 1024px) {
    .home_about .arrow-desktop {
        display: block;
        margin-bottom: var(--rhythm);
    }
}

.home_about .arrow-mobile {
    height: 160px;
    padding-bottom: var(--rhythm);
}

@media screen and (min-width: 1024px) {
    .home_about .arrow-mobile {
        display: none;
    }
}

.home_about svg {
    margin: auto;
}

@media screen and (min-width: 1024px) {
    .home_about svg {
        width: 40%;
        margin-left: 100px;
    }
}

.home_about .about-container {
    position: relative;
    background-color: var(--c-peach);
    border-radius: 50px;
    color: var(--c-bg);
}

.home_about .ellipse {
    position: absolute;
    bottom: 20%;
    translate: -10%;
    width: 100%;
    opacity: 0.8;
}

@media screen and (min-width: 1024px) {
    .home_about .ellipse {
        bottom: 20%;
        translate: -10%;
        width: 200%;
    }
}


.home_about .about,
.skills {
    position: relative;
    max-width: 700px;
    margin: 0 auto;
}

@media screen and (min-width: 1024px) {
    .home_about .about,
    .skills {
        padding-top: var(--rhythm);
        max-width: 50%;
        margin: unset;
        margin-left: auto;
    }
}

@media screen and (min-width: 1024px) {
    .home_about .skills {
        max-width: 700px;
        margin-right: 50%;
        margin-left: var(--gutter);
    }
}

.home_about article {
    letter-spacing: 1px;
    padding: var(--gutter) 0;
    font-size: var(--fs-l);
    line-height: 2.4rem;
    font-weight: 200;
}

@media screen and (min-width: 1024px) {
    .home_about article {
        max-width: 700px;
        padding: 0;
        margin-top: var(--gutter);
        font-size: var(--fs-m);
        font-weight: 200;
    }
}

.home_about h2 {
    padding-top: var(--gutter);
    font-size: var(--fs-xl);
}

.home_about h3 {
    padding: var(--gutter) 0px;
}

@media screen and (min-width: 1024px) {
    .home_about h2 {
        text-align: left;
    }
}

@media screen and (min-width: 1024px) {
    .home_about article p{
        max-width: 40ch;
        line-height: 2.2rem;
    }
}

