.site-footer::before {
    content: '';
    inset: 0;
    position: absolute;
    z-index: -1;
    background-color: var(--c-peach);
    border-radius: 25px 25px 0 0;
}

.site-footer {
    position: relative;
    display: flex;
    isolation: isolate;
    flex-direction: column;
    align-items: center;
    gap: var(--inner);
    background-color: var(--c-bg);
    color: var(--c-bg);
    padding: var(--gutter) 0;
}

.site-footer ul {
    display: flex;
}

.site-footer ul li {
    margin: 0 var(--gutter);
}

.site-footer ul li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
}

.site-footer svg {
    margin-bottom: .5rem;
}

.site-footer ul li a * {
    display: block;
}

@media screen and (min-width: 1024px) {
    .site-footer ul li a * {
        display: inline-block;
    }
}

.site-footer p {
    max-width: 28ch;
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .site-footer p {
        display: inline-block;
        line-height: 1.33337px;
    }   
}
