.site-header {
	position: sticky;
	top: 0;
	background-color: var(--c-bg);
	border-radius: 0.5rem 0.5rem 0 0;
}

.site-header nav {
	max-width: var(--site);
	padding: var(--gutter);
	align-items: center;
	border-bottom: 1px solid var(--c-peach );
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.site-header .site-logo {
	display: flex;
	align-items: center;
	font-size: var(--fs-m);
}

.site-header .fullname {
	font-weight: 700;
	display: flex;
	flex-direction: column;
	padding-right: 2rem;
	line-height: 110%;
}


.site-header .firstName {
	font-weight: 700;
}

.site-header .lastName {
	font-weight: 200;
	z-index: 10;
}

.site-header .profession {
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
}

.site-header ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.site-header ul a {
	background-color: var(--c-red);
	opacity: 0.9;
	padding: .5rem 1.5rem;
	margin-left: 6rem;
	border-radius:30px;
	position: relative;
	left: 0px;
	right: 0px;
	bottom: 0px;
	transition: all .2s ease-in-out;
}

.site-header ul a::before {
	content: '';
	top: 4px;
	left: -4px;
	right: 4px;
	bottom: -4px;
	position: absolute;
	border-radius:30px;
	border: 2px solid var(--c-red);
	z-index: -1;
	background-color: var(--c-peach);
	box-shadow: 4px -4px 10px 1px rgba(235, 101, 63, .7) inset;
	transition: all .2s ease-in-out;
}

.site-header ul a:hover {
	cursor: pointer;
	left: -4px;
	right: 4px;
	bottom: -4px;
	padding: .5rem 1.3rem;
}

.site-header ul a:hover::before {
	left: 0px;
	right: 0px;
	bottom: 2px;
}

.site-header ul a:active {
	color: var(--c-peach);
	background-color: var(--c-black);
}

.site-header ul a:visited {
	color: var(--c-peach);
	background-color: var(--c-black);
}

.site-header .hireme {
	background-color: var(--c-black);
}
.site-header .fire {
	display: inline-block;
	height: 1rem;
	position: relative;
	z-index: 10;
	padding-left: .2rem;
}

 