.site-header {
    position: sticky;
    top: 0;
    background-color: var(--c-bg);
    border-radius: 0.5rem 0.5rem 0 0;
    z-index: 10;
    background: rgba(16, 107, 98, 0.55);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.9px);
}

.site-header nav {
    opacity: 0.9;
    align-items: center;
    border-bottom: 1px solid var(--c-peach);
    padding: var(--gutter) var(--inner);
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-areas:
        "fullname profession"
        "menu menu";
}

@media screen and (min-width: 1024px) {
    .site-header nav {
        padding: var(--gutter) 4rem;
        grid-template-columns: auto auto 25% 25%;
        grid-template-areas: "fullname profession menu menu";
    }
}

.site-header .fullname {
    grid-area: fullname;
    font-weight: var(--fw-bold);
    display: flex;
    flex-direction: column;
}

.site-header .firstName {
    font-weight: var(--fw-bold);
}

.site-header .lastName {
    font-weight: var(--fw-light);
}

.site-header .profession {
    grid-area: profession;
    text-transform: uppercase;
    font-family: var(--ff-serif);
    justify-self: end;
    padding-left: var(--inner);
}

@media screen and (min-width: 1024px) {
    .site-header .profession {
        justify-self: start;
    }
}

.site-header .menu {
    display: flex;
    justify-content: space-between;
    grid-area: menu;
    margin-top: var(--inner);
}

@media screen and (min-width: 1024px) {
    .site-header .menu {
        margin-top: 0;
    }
}

.site-header .menu a {
    padding: 0.5rem 1rem;
    white-space: nowrap;
}

.site-header .menu a:hover {
    cursor: pointer;
}

.site-header .menu a:active {
    color: var(--c-peach);
    background-color: var(--c-black);
}

.site-header .menu a:visited {
    color: var(--c-peach);
    background-color: var(--c-black);
}

.site-header .hireme {
    background-color: var(--c-black);
}
.site-header .fire {
    display: inline-block;
    height: 1rem;
    padding-left: 0.2rem;
}
