#page {
	max-width: var(--site);
    margin: 0rem;
}

@media screen and (min-width: 1024px) {
	#page {
		margin: 0 auto;
		padding: var(--gutter);
		max-width: 1980px;
		position: relative;
		scroll-behavior: auto; 
	}
	
}

#page main {
	background: var(--c-bg);
}

@media (min-width: 1024px) {
	#page main {
		overflow: hidden;
	}
}
